infra/n8n/workflows/daily-news-collection.json
{
  "name": "daily-news-collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "매일 22:00 UTC (= 07:00 KST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.AI_SERVICE_URL }}/api/news/batch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 300000
        }
      },
      "id": "batch-collect-news",
      "name": "Perplexity 뉴스 배치 수집",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-credential",
          "name": "Internal API Secret"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $vars.API_SERVER_URL }}/api/v1/news",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "size",
              "value": "20"
            },
            {
              "name": "fromDate",
              "value": "={{ $now.startOf('day').toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-todays-news",
      "name": "오늘 뉴스 목록 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-credential",
          "name": "Internal API Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 오늘 뉴스 목록을 카카오 알림 형식으로 변환\nconst response = $input.item.json;\nconst newsContent = response.data?.content || [];\n\nconst today = new Date();\nconst kst = new Date(today.getTime() + (9 * 60 * 60 * 1000));\nconst dateStr = kst.toISOString().split('T')[0];\n\n// newsItems 형식: [{ticker, name, summary, url}]\nconst newsItems = newsContent.map(item => ({\n  ticker: item.stockTicker || 'N/A',\n  name: item.stockName || '전체',\n  summary: item.summary || item.contentSnippet || '내용 없음',\n  url: item.url\n}));\n\nconst autoCount = newsContent.filter(n => n.sourceType === 'AUTO').length;\nconst manualCount = newsContent.filter(n => n.sourceType === 'MANUAL').length;\n\nreturn [{\n  json: {\n    date: dateStr,\n    newsItems,\n    autoCount,\n    manualCount,\n    totalCount: newsItems.length\n  }\n}];"
      },
      "id": "format-news-data",
      "name": "뉴스 데이터 포맷팅",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-news-exists",
              "leftValue": "={{ $json.totalCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-news",
      "name": "뉴스가 있는 경우만 발송",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.AI_SERVICE_URL }}/api/notify/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accessToken\": \"{{ $vars.KAKAO_ACCESS_TOKEN }}\",\n  \"date\": \"{{ $json.date }}\",\n  \"newsItems\": {{ JSON.stringify($json.newsItems) }},\n  \"autoCount\": {{ $json.autoCount }},\n  \"manualCount\": {{ $json.manualCount }}\n}",
        "options": {}
      },
      "id": "send-kakao-notification",
      "name": "카카오톡 알림 발송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-credential",
          "name": "Internal API Secret"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "오늘 수집된 뉴스가 없어 카카오톡 알림을 건너뜁니다."
            }
          ]
        },
        "options": {}
      },
      "id": "skip-notification",
      "name": "알림 건너뜀 (뉴스 없음)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 400]
    }
  ],
  "connections": {
    "매일 22:00 UTC (= 07:00 KST)": {
      "main": [
        [
          {
            "node": "Perplexity 뉴스 배치 수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity 뉴스 배치 수집": {
      "main": [
        [
          {
            "node": "오늘 뉴스 목록 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "오늘 뉴스 목록 조회": {
      "main": [
        [
          {
            "node": "뉴스 데이터 포맷팅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "뉴스 데이터 포맷팅": {
      "main": [
        [
          {
            "node": "뉴스가 있는 경우만 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "뉴스가 있는 경우만 발송": {
      "main": [
        [
          {
            "node": "카카오톡 알림 발송",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "알림 건너뜀 (뉴스 없음)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "timezone": "Asia/Seoul"
  },
  "staticData": null,
  "tags": ["finance-bot", "daily-news"],
  "triggerCount": 0,
  "updatedAt": "2026-03-20T00:00:00.000Z",
  "versionId": "1"
}
